## Register the ROR authority plugin
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
    org.dspace.content.authority.SimpleRORAuthority = SimpleRORAuthority

choices.plugin.dc.publisher = SimpleRORAuthority
choices.presentation.dc.publisher = lookup
authority.controlled.dc.publisher = true

ror.api-url = https://api.ror.org/v2/organizations

### Add the following lines to local.cfg:
#include = features/enable-ror.cfg
#ror.client-id = <<ROR-API-Client-ID>>
#ror.authority.stored-name-type = ror_display | en_label | locale_label

# Notes:
# To obtain a ROR API Client ID, you need to register at: https://ror.org/api-client-id.
# The "ror.authority.stored-name-type" property defines how the authority value is selected
# from the ROR API response. The authority value is then stored to metadata field, e.g. to "dc.publisher" field.
# The ROR API returns multiple names based on the locale and the name type
# the name types are "ror_display", "label", "alias" and "acronym".
# For more information on the name types, see: https://ror.readme.io/docs/ror-data-structure
# Allowed values for the "ror.authority.stored-name-type" property are:
# "ror_display"  - authority value is selected from the name of type "ror_display"
# "en_label"     - authority value is selected from the name of type "label" with locale "en"
# "locale_label" - authority value is selected from the name of type "label" with locale matching the DSpace locale
# The default "ror.authority.stored-name-type" is "en_label".

# To enable the SimpleRORAuthority choice working in the Item Submission Page(UI), for the publisher field,
# the following input-type should be set for the "dc.publisher" field, in the submission-forms.xml configuration file:
#<input-type>onebox</input-type>
