## Register the ROR authority plugin
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
    org.dspace.content.authority.SimpleRORAuthority = SimpleRORAuthority

choices.plugin.dc.publisher = SimpleRORAuthority
choices.presentation.dc.publisher = publisherLookup
authority.controlled.dc.publisher = true

ror.api-url = https://api.ror.org/v2/organizations

# add the following lines to local.cfg
# to obtain a ROR API Client ID, you need to register at: https://ror.org/api-client-id
#include = features/enable-ror.cfg
#ror.client-id = <<your-ROR-API-Client-ID>>

