## ORCID authority (https://wiki.lyrasis.org/display/DSDOC7x/ORCID+Authority) is bit cumbersome to use
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
    org.dspace.content.authority.SimpleRORAuthority = SimpleRORAuthority

ror.api-url = https://api.ror.org/v2/organizations

### add the following lines to local.cfg
# include=features/enable-ror.cfg
# ror.client-id = your-client-id

